<section id="bgimg">
    
    <div class="container-fluid">
        <div class="row ">
          
            <h1 class="text-center  ">Trends</h1>
            
            <div class="col-lg-4 col-md-4 col-sm-4 p-4 ">
                <div class="  text-center " id="card1">
                    <p>How Blockchain Technology
                        <br> 
                        will Fortity
                        <br>
                         Real Estate Industry</p>
                </div>
                <div class="">
                    <img width="100%" src="assets/sliders/businessman-business-sketch.png" alt="">
                    <button mat-raised-button>View all</button>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 p-4">
                <div class="text-center  ">
                    <p>How Blockchain Technology
                        <br> 
                        Can Help
                        <br>
                         Fight Cyber Crimes</p>
                </div>
                <div class="">
                    <img width="100%" src="assets/sliders/businessman-business-sketch.png" alt="">
                    <button mat-raised-button>View all</button>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 p-4">
                <div class="text-center  ">
                    <p>How Blockchain Technology
                        <br> 
                        Contributing to 
                        <br>
                        Research & Development</p>
                </div>
                <div class="img">
                    <img width="100%" src="assets/sliders/businessman-business-sketch.png" alt="">
                    <button mat-raised-button>View all</button>
                </div>
            </div>
        </div>
    </div>
</section>