.mat-card-sm-image {
    width: 60px;
    height: 51px;
}
.col-md-4{
    transform: scale(0.9);
    transition: 1s;
    cursor: pointer;
}
.col-md-4:hover{
    transform: scale(1);
}
.mat-card:not([class*=mat-elevation-z]) {
    box-shadow:none;
}
.mat-raised-button{
    border: 2px solid blue;
    width: 200px;
    color: blue;
}
button:hover{
    transition: 1s;
    color: white;
    background-color: blue;
}