<section id="top_container">
    <div class="container-fluid">
        <div class="row" >
           <div class="col-md-6">
          <div class="p-5">
            <h1 class="text1 display-1 ">Lorem </h1>
            <h1 class="text2 display-1 ">ipsum</h1>
        
          </div>
           </div>
           <div class="col-md-6 p-0">
              <div class="p-2">
                <img  src="assets/backgrounds/bitcoin_3d_logo.png" alt="">
              </div>
           </div>
        
        </div>
       
        <div class="row">
          <div class="col-md-5">
            <div class=" bitcoin">
                <img src="assets/icons/feature-bitcoin.png" alt="">
                <img   src="assets/icons/feature-bitcoin copy.png" alt="">
                
            </div>
          </div>
        </div>

    </div>
  
  
    
</section>
