
        #demo img{
            width: 100%;
            height: 80%;
            position: absolute;
          
           z-index: 1;
        }
        #demo1 img{
            width: 100%;
            height: 60%;
            position: absolute;
            background-image: url(~/src/assets/icons/if_Dzone_669685.png);
            opacity: 0.1;
             z-index: 1;
        }
        .lorem{
            font-weight: 100;
           color: white;
            margin-top: 90px;
            margin-left: 10px;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
        .lorem2{
            font-weight: 900;
           color: white;
            margin-top: -40px;
            margin-left: 10px;
        }
        .col-md-6{
            z-index: 1;

        }
        #btncoin{
            margin-top: 70px;
        }
        .col-md-2{
            margin: -45px;
        }
     
        .col-md-2 img{
            z-index: 111;
            position: absolute;
            width: 90px;
           
        }

        .img1{
            width: 20px;
        }
        @media only screen and (max-width: 1250px),screen and (max-width: 1150px),screen and (max-width: 1050px) {
          
        #btncoin{
            margin-top: 120px;
        }
        .col-md-2{
            margin: -45px;
        }
     
        .col-md-2 img{
            z-index: 111;
            position: absolute;
           
        }

        .img1{
            width: 20px;
        }
   }
   @media only screen and (max-width: 1050px) {
          
          #btncoin{
              margin-top: 170px;
          }
          .col-md-2{
              margin: -20px;
              margin-left: 10px;
          }
       
          .col-md-2 img{
              z-index: 111;
              position: absolute;
             
          }
  
          .img1{
              width: 20px;
          }
     }
     @media only screen and (max-width: 867px) {
        .col-md-6{
              width: 50%;
          }
          .col-md-6 img{
              width: 100%;
              height: 70%;
              opacity: 0.7;
          }
          #btncoin{
              margin-top: 120px;
          }
          .col-md-2{
              margin: 10px;
              margin-left: 10px;
          }
    
          .col-md-2 img{
              z-index: 111;
              position: absolute;
             
          }
          .lorem{
            font-weight: 100;
           color: white;
            margin-top: 90px;
            margin-left: 10px;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
        .lorem2{
            font-weight: 900;
           color: white;
            margin-top: -10px;
            margin-left: 10px;
        }
          .img1{
              width: 20px;
          }
     }
     @media only screen and (max-width: 667px) {
          .col-md-6{
              width: 50%;
          }
          .col-md-6 img{
              width: 100%;
              height: 70%;
              opacity: 0.7;
          }
          #btncoin{
              margin-top: 180px;
          }
          .col-md-2{
              margin: 2px;
              margin-left: 10px;
          }
       
          .col-md-2 img{
              z-index: 111;
              position: absolute;
             
          }
          .lorem{
            font-weight: 100;
           color: white;
            margin-top: 90px;
            margin-left: 10px;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
        .lorem2{
            font-weight: 900;
           color: white;
            margin-top: -10px;
            margin-left: 10px;
        }
          .img1{
              width: 20px;
          }
     }
