<!-- <section id="top_container">
    <div class="container-fluid">
        <div class="row" >
           <div class="col-md-6">
          <div class="p-5">
            <h1 class="text1 display-1 ">Lorem </h1>
            <h1 class="text2 display-1 ">ipsum</h1>
        
          </div>
           </div>
           <div class="col-md-6 p-0">
              <div class="p-2">
                <img  src="assets/backgrounds/bitcoin_3d_logo.png" alt="">
              </div>
           </div>
        
        </div>
       
        <div class="row">
          <div class="col-md-5">
            <div class=" bitcoin">
                <img src="assets/icons/feature-bitcoin.png" alt="">
                <img   src="assets/icons/feature-bitcoin copy.png" alt="">
                
            </div>
          </div>
        </div>

    </div>
  
  
    
</section> -->
<section>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12 p-0" id="demo">
        <img width="100%" src="assets/backgrounds/Rectangle11.png" alt="">

          </div>
          <div class="col-md-12 p-0" id="demo1">
           <img width="100%" src="assets/icons/if_Dzone_669685.png" alt="">
             </div>
          <div class="col-lg-6 col-md-6 col-sm-6 ">
              <div class="lorem">
                  <h1 class="display-1">Lorem</h1>
                  <h1 class="display-1 lorem2">Ipsum</h1>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 ">
              <img width="100%" src="assets/backgrounds/bitcoin_3d_logo.png" alt="">
          </div>
          <div class="col-md-12">
              <div class="container">
                  <div class="row" id="btncoin">
                     <div class="col-md-2">
                       <img id="img1" src="assets/icons/feature-bitcoin copy.png" alt="">
                     </div>
                     <div class="col-md-2">
                       <img  width="100px" src="assets/icons/feature-bitcoin.png" alt="">
                     </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>